.section .sec-1 {
  font-size: 40px;
}

.section .sec-2 {
  font-size: 20px;
}

.section .sec-1 {
  font-size: 40px;
}

.profile-pic {
  border-radius: 10px;
  margin: 5px;
  height: 120px;
  background-size: cover;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.join-button {
  background: #DF483C;
  color: white;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.why, .life-emoha, .description-box {
  padding: 3vw 1vw;
  background-color: #FDF7F7;
}

.red-text {
  color: #DF483C;
}

.why-box {
  background: #FBEEEE;
  box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px rgba(229, 211, 211, 0.83);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  height: 250px;
}

.headline-gap {
  margin: 4vw 0px;
}

.join-us {
  position: relative;
}

.join-us img {
  min-width: 100%;
  min-height: 100%;
}

.our-values {
  background-color: #FEFBFB;
}

.join-image {
  bottom: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
}

.join-us-last {
  height: 30px;
  background-color: #2edf19;
}

.life-img {
  min-width: 100%;
  min-height: 100%;
}

.ju-last {
  background-color: #DF483C;
}

.description-box .active {
  display: block;
}

.hide {
  display: none;
}

.slide_wrap {
  width: 100%;
  padding: 10px 20px;
  position: relative;
  box-sizing: border-box;
}

.slide_show {
  width: 860px;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
}

.slide_show .slide_img {
  width: 5000px;
  overflow: hidden;
}

.slide_show .slide_img > div {
  float: left;
  width: 280px;
  padding: 5px;
}

.slide_btn a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 58px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  transition: all 0.3s;
}

.slide_btn a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.slide_btn a.prev {
  left: 10px;
}

.slide_btn a.next {
  right: 10px;
}

.life-emoha {
  background-color: #FEF8F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container-custom {
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 75rem;
  width: 90%;
}

.main .container-custom .glider-contain .glider .card-image {
  margin-right: 0.5rem;
  background: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}
.main .container-custom .glider-contain .glider .card-image img {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .container-custom .glider-contain .glider-prev,
.main .container-custom .glider-contain .glider-next {
  font-size: 1.5rem;
  background: #454545;
  color: #ffffff;
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
}
.main .container-custom .glider-contain .glider-prev .fas,
.main .container-custom .glider-contain .glider-next .fas {
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .main .glider-contain .glider-prev,
.main .glider-contain .glider-next {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .main .glider-contain .dots {
    display: none;
  }
}
.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.row-new {
  width: 100%;
  clear: both;
  overflow: auto;
  position: relative;
  padding: 0;
}

.row-features {
  position: relative;
}

.new-feature-slider {
  width: 100%;
  float: left;
  overflow: hidden;
}
.new-feature-slider .feature-slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.new-feature-slider .feature-slide .feature-slide-image img {
  width: 100%;
  display: block;
}
.new-feature-slider .feature-slide.active {
  opacity: 1;
}

.block-wrap {
  position: relative;
  width: 100%;
}
.block-wrap:before {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
}

.w50 {
  width: 50%;
  float: left;
}

.h50:before {
  padding-top: 50%;
}

.block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.content-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 100%;
  max-width: 25em;
  transform: translate(-50%, -50%);
}

.controls {
  box-sizing: border-box;
  width: 80px;
  height: 160px;
  position: absolute;
  z-index: 9999;
  border-right: solid 8px rgba(93, 193, 195, 0.4);
  overflow: visible;
}
.controls .control {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  display: block;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  float: right;
}
.controls .control:first-child {
  border-bottom: 1px solid rgba(4, 68, 86, 0.2);
}
.controls .control.button-next {
  transform: rotate(180deg);
}
.controls .control:before, .controls .control:after {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform-origin: left center;
  content: "";
  background-color: #333f4a;
  transition: all 0.3s ease;
}
.controls .control:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.controls .control:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.controls .control:hover {
  background-color: #5dc1c3;
}
.controls .control:hover:before, .controls .control:hover:after {
  background-color: white;
}

.new-feature-controls {
  bottom: 10px;
  right: 50%;
}

@media only screen and (max-width: 480px) {
  .section .sec-1 {
    font-size: 2.6vh;
  }
  .section .sec-2 {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */